.better-dateinput-value {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.better-dateinput-calendar {
    position: absolute;
    display: inline-block;
    visibility: hidden; /* initially calendar is hidden */

    width: 20em;
    line-height: 1;

    overflow: hidden;
    cursor: default;

    color: #333;
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    opacity: 1;

    -webkit-transform: scale(1,1);
    transform: scale(1,1);

    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;

    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.better-dateinput-calendar[aria-hidden=true] {
    opacity: 0;

    -webkit-transform: scale(0,0);
    transform: scale(0,0);
}

.better-dateinput-calendar-header {
    font-size: 1.5em;
    line-height: 2;
    margin: 0 2em;
    text-align: center;
}

.better-dateinput-calendar > a {
    position: absolute;
    left: 0.75em;
    top: 0.75em;

    width: 1em;
    padding: 0.25em;

    border-radius: 0.25em;
}

.better-dateinput-calendar > a:before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0.5em 0.75em 0.5em 0;
    border-color: transparent;
    border-right-color: inherit;
}

.better-dateinput-calendar > a + a {
    left: auto;
    right: 0.75em;
}

.better-dateinput-calendar > a + a:before {
    border-width: 0.5em 0 0.5em 0.75em;
    border-color: transparent;
    border-left-color: inherit;
}

.better-dateinput-calendar-days {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-bottom: 1px solid #DDD;
}

.better-dateinput-calendar-days td,
.better-dateinput-calendar-days th {
    height: 2em;
    border: 1px solid #DDD;
    text-align: left;
    text-indent: 0.5em;
}

.better-dateinput-calendar-days th {
    font-weight: normal;
    background-color: #333;
    color: #FFF;
}

.better-dateinput-calendar-past,
.better-dateinput-calendar-future {
    background-color: #F7F7F7;
    color: #AAA;
}

.better-dateinput-calendar > a,
.better-dateinput-calendar-days td {
    -webkit-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

.better-dateinput-calendar-today,
.better-dateinput-calendar > a:hover,
.better-dateinput-calendar-days td:hover {
    background-color: #DDD;
    font-weight: bold;
    color: inherit;
}
