:root {
    --cell-width: 3 * 16px; /* 1rem = 16px by default */
    --cell-height: 2.5 * 16px; /* 1rem = 16px by default */
    --month-cell-height: calc(var(--cell-height) * 1.5);

    --color-white: #fff;
    --color-header: #ddd;
    --color-graytext: #888;
    --color-highlight: #f5f5f5;
    --color-shadow: #888;
}

dateinput-picker {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;

    position: absolute;
    z-index: 1000;
    width: calc(var(--cell-width) * 7);
    height: calc(var(--cell-height) * 8);
    max-height: calc(var(--cell-height) * 8);
    box-shadow: 0 8px 24px var(--color-shadow);
    background: var(--color-white);

    opacity: 1;
    transform: translate3d(0,0,0);
    transform-origin: 0 0;
    transition: 0.1s ease-out;

    &[aria-hidden=true] {
        opacity: 0;
        transform: skew(-25deg) scaleX(0.75);
        visibility: hidden;
        height: 0; /* fixes wierd iOS overlapping */
    }

    &[aria-expanded=true] {
        height: calc(var(--cell-height) + var(--month-cell-height) * 3);
        max-height: calc(var(--cell-height) + var(--month-cell-height) * 3);
    }

    & + input {
        /* hide original input text and caret */
        color: transparent !important;
        caret-color: transparent !important;

        /* disable text selection */
        &::selection {
            /* specify color to hide selection on IE10 */
            color: rgba(0, 0, 0, 0.01);
            background: none;
        }

        &::-moz-selection {
            background: none;
        }
    }
}
