:root {
    --cell-height: 2.5rem;
    --month-cell-height: calc(var(--cell-height) * 1.5);
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: var(--cell-height);
    text-align: center;

    cursor: default;
    user-select: none;

    margin: 0;
    overflow: hidden;
    /* improve font on OSX */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    width: 3rem;
    height: var(--cell-height);
    position: absolute;
    text-decoration: none;
    color: inherit;
}

b {
    display: block;
    cursor: pointer;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    line-height: var(--cell-height);
}

td, th {
    padding: 0;
}

thead {
    background: lightgray;
    font-size: smaller;
    font-weight: bold;
}

[aria-selected=false], [aria-disabled=true] {
    color: gray;
}

[aria-selected=true] {
    box-shadow: inset 0 0 0 1px gray;
}

a:hover,
td:hover,
[aria-disabled=true],
[aria-selected=true] {
    background-color: whitesmoke;
}

table+table {
    line-height: var(--month-cell-height);
    background: white;
    position: absolute;
    top: var(--cell-height);
    left: 0;
    opacity: 1;
    transition: 0.1s ease-out;
}

table+table[aria-hidden=true] {
    visibility: hidden !important;
    opacity: 0;
}
