:root {
    --cell-width: 3rem;
    --cell-height: 2.5rem;
    --month-cell-height: calc(var(--cell-height) * 1.5);

    --color-white: #fff;
    --color-header: #ddd;
    --color-graytext: #888;
    --color-highlight: #f5f5f5;
    --color-shadow: #888;
}

body {
    /* remove extra scrolls on IE */
    overflow: hidden;
}

* {
    font-family: system-ui;
    line-height: var(--cell-height);
    text-align: center;

    cursor: default;
    user-select: none;

    margin: 0;
}

a {
    position: absolute;
    width: var(--cell-width);
    height: var(--cell-height);

    &[rel='prev'] {
        left: 0;
    }

    &[rel='next'] {
        right: 0;
    }
}

b {
    display: block;
    cursor: pointer;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    line-height: var(--cell-height);

    & + table {
        position: absolute;
        top: var(--cell-height);
        left: 0;
        opacity: 1;
        transition: 0.1s ease-out;
        background: var(--color-white);

        & td {
            line-height: var(--month-cell-height);
        }

        &[aria-hidden=true] {
            visibility: hidden !important;
            opacity: 0;
        }
    }
}

td, th {
    padding: 0;
}

thead {
    background: var(--color-header);
    font-size: smaller;
    font-weight: bold;
}

[aria-selected=false],
[aria-disabled=true] {
    color: var(--color-graytext);
}

[aria-selected=true] {
    box-shadow: inset 0 0 0 1px var(--color-shadow);
}

a:hover,
td:hover,
[aria-disabled=true],
[aria-selected=true] {
    background-color: var(--color-highlight);
}
