:root {
    --color-hover: rgba(106, 106, 106, 0.1);
    --color-selected: #007bff;
    --color-background: #fff;
    --color-graytext: #ccc;

    --calendar-day-width: calc(100vw / 7);
    --calendar-day-height: calc(100vh / 8);
    --calendar-option-height: calc(var(--calendar-day-height) * 7 / 12);

    --calendar-weekday-height: var(--calendar-day-height);
    --calendar-inner-padding: 4px;
}

body {
    cursor: default;
    font-family: system-ui;
    margin: 0;
    line-height: var(--calendar-option-height);
}

[aria-labelledby] {
    bottom: 0;
    height: calc(100% - var(--calendar-day-height));
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    &[aria-hidden="true"] {
        visibility: hidden;
    }
}

header {
    display: block;
    height: var(--calendar-day-height);
    overflow: hidden;
    text-align: center;
    line-height: var(--calendar-day-height);
}

[role="button"] {
    text-align: center;
    transition: transform 75ms ease-in;
    width: var(--calendar-day-width);

    &[rel="prev"] {
        float: left;

        &:active {
            transform: translateX(-2px);
        }
    }

    &[rel="next"] {
        float: right;

        &:active {
            transform: translateX(2px);
        }
    }

    & svg {
        pointer-events: none;
        width: 16px;
        height: 100%;
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(1.2);
        }
    }
}

[aria-live="polite"] {
    border: 1px dotted transparent;
    color: var(--color-selected);
    font-weight: bold;
    margin: auto 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (hover: hover) {
        &:hover {
            border-bottom-color: inherit;
        }
    }
}

table {
    border-spacing: 0;
    table-layout: fixed;
}

th {
    box-sizing: border-box;
    height: var(--calendar-weekday-height);
    line-height: calc(var(--calendar-weekday-height) - var(--calendar-inner-padding));
    padding: 0 0 var(--calendar-inner-padding);
}

td {
    border-radius: var(--border-radius);
    padding: 0;

    &:not([aria-selected]) {
        color: var(--color-graytext);
    }

    &[aria-current="date"] {
        font-weight: bold;
    }

    &[aria-disabled="true"] {
        background-color: var(--color-hover);
        border-radius: 0;
        color: var(--color-graytext);
        cursor: not-allowed;
    }
}

#months, #years {
    box-sizing: border-box;
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 var(--calendar-inner-padding);
    width: 50%;
}

[data-date], [data-month], [data-year] {
    @media (hover: hover) {
        &:hover {
            background-color: var(--color-hover);
        }
    }

    &[aria-selected="true"] {
        background-color: var(--color-selected);
        color: var(--color-background);
    }
}
